@font-face {
  font-family: HeraBig;
  src: url("../fonts/HeraBig-Regular.otf") format("opentype");
}

@font-face {
  font-family: Pykes;
  src: url("../fonts/pykes_peak_zero.otf") format("opentype");
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -200px;
  left: 200px;
  width: 200px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}

.sidebar-nav li a {
   color: rgba(122, 106, 0, 0.7);
   font-family: HeraBig, Garamond, Times;
   line-height: 2em;
   margin:20px 0;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
  }
  .sidebar-nav img {
    opacity: 0.7;
    line-height: 0px;
  }
  .sidebar-nav img:hover {
    opacity: 1;
    line-height: 0px;
  }

  #wrapper .sidebar-nav li {
    list-style-type: none;
  }

  #wrapper .sidebar-nav li a {
    /*Transition*/
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    /*font-size:1em;*/

    /*Reflection*/
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
  }

  #wrapper .sidebar-nav li a:hover{
     opacity: 1;
     text-decoration: none;
     color: rgba(229, 193, 5, 0.9);

     /*Reflection*//*
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));*/

     /*Glow*/
    -webkit-shadow: 0px 0px 50px rgba(255,255,255,0.8);
    -moz-shadow: 0px 0px 50px rgba(255,255,255,0.8);
    /*box-shadow: 0px 0px 50px rgba(255,255,255,0.8);*/
  }

  /*Example 3*/
  #co, #ev, #tu, .sidebar-brand {
    /*width: 730px;*/
    height: 83px;
    line-height: 0px;
    color: transparent;
    /*font-size: 1.8em;*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
       /*font-weight: 100;*/
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }

  #co:hover, #ev:hover, #tu:hover {
    color: #707272;
    text-transform: uppercase;

  }

body {
  background: url(../img/old_mathematics.png) repeat;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3 {
  /*color: #ed891b;*/
  font-family: Pykes, Garamond, Times;
  font-style: normal;
  font-weight: 600;
}

