    <!-- Footer -->
      <div id="footer-wrapper">
        <section id="footer" class="container">
          <div class="row">
            <div class="8u">
              <section>
                <header>
                  <h2>Latest Posts</h2>
                </header>
                <ul class="dates">
                {% for post in site.posts offset: 0 limit: 5 %}
                  <li>
                    <span class="date">{{ post.date | date: "%B"}} <strong>{{ post.date | date: "%d"}}</strong></span>
                    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                    {{ post.excerpt }}
                  </li>
                {% endfor %}
                </ul>
              </section>
            </div>
            <div class="4u">
              <section>
                <header>
                  <h2>What's this all about?</h2>
                </header>
                <a href="#" class="image featured"><img src="{{ site.baseurl }}/assets/images/pic10.jpg" alt="" /></a>
                <p>
                  Haskell Workshop is brought to you by NY-Haskell Users Group to help make it easier to learn this beautiful and pure language.
                </p>
                <footer>
                  <!-- <a href="#" class="button">Find out more</a> -->
                </footer>
              </section>
            </div>
          </div>
          <div class="row">
            <div class="4u">
              <section>
                <!-- <header>
                  <h2>Tempus consequat</h2>
                </header>
                <ul class="divided">
                  <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
                  <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
                  <li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
                  <li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
                  <li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
                  <li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
                </ul> -->
              </section>
            </div>
            <div class="4u">
              <section>
                <!-- <header>
                  <h2>Ipsum et phasellus</h2>
                </header>
                <ul class="divided">
                  <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
                  <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
                  <li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
                  <li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
                  <li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
                  <li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
                </ul> -->
              </section>
            </div>
            <div class="4u">
              <section>
                <header>
                  <h2>Connect with Us!</h2>
                </header>
                <ul class="social">
                  <!-- <li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li> -->
                  <li><a class="icon fa-twitter" href="http://twitter.com/haskellworkshop"><span class="label">Twitter</span></a></li>
                  <li><a class="icon fa-github" href="http://github.com/haskell-workshop"><span class="label">Github</span></a></li>
                </ul>
                <!-- <ul class="contact">
                </ul> -->
              </section>
            </div>
          </div>
          <div class="row">
            <div class="12u">

              <!-- Copyright -->
                <div id="copyright">
                  <ul class="links">
                    <li>&copy; Haskell Workshop. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    <li>Demo Images: <a href="http://facebook.com/DreametryDoodle">Dreametry Doodle</a></li>
                  </ul>
                </div>

            </div>
          </div>
        </section>
      </div>

  </body>
</html>
