<!-- Header -->
      <div id="header-wrapper">
        <div id="header">

          <!-- Logo -->
            <h1><a href="index.html">Haskell Workshop</a></h1>

          <!-- Nav -->
           <!--  <nav id="nav">
              <ul>
                <li class="current"><a href="index.html">Home</a></li>
                <li>
                  <a href="">Dropdown</a>
                  <ul>
                    <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                    <li><a href="#">Magna phasellus</a></li>
                    <li><a href="#">Etiam dolore nisl</a></li>
                    <li>
                      <a href="">Phasellus consequat</a>
                      <ul>
                        <li><a href="#">Magna phasellus</a></li>
                        <li><a href="#">Etiam dolore nisl</a></li>
                        <li><a href="#">Veroeros feugiat</a></li>
                        <li><a href="#">Nisl sed aliquam</a></li>
                        <li><a href="#">Dolore adipiscing</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Veroeros feugiat</a></li>
                  </ul>
                </li>
                <li><a href="{{ site.baseurl }}/left-sidebar.html">Left Sidebar</a></li>
                <li><a href="{{ site.baseurl }}/right-sidebar.html">Right Sidebar</a></li>
                <li><a href="{{ site.baseurl }}/no-sidebar.html">No Sidebar</a></li>
              </ul>
            </nav> -->

          <!-- Banner -->
            <section id="banner">
              <header>
                <h2>Howdy. </h2>
                <p>Let's learn to code in Haskell together!</p>
              </header>
            </section>

          <!-- Intro -->
            <section id="intro" class="container">
              <div class="row">
                <div class="4u">
                  <section class="first">
                    <i class="icon featured fa-youtube"></i>
                    <header>
                      <h2>Watch Videos</h2>
                    </header>
                    <p>We'll link to screencasts when they're available.</p>
                  </section>
                </div>
                <div class="4u">
                  <section class="middle">
                    <i class="icon featured alt fa-flash"></i>
                    <header>
                      <h2>Attend Workshops</h2>
                    </header>
                    <p>The next workshop is on 4/23. <a href="http://www.meetup.com/NY-Haskell/events/230101220/">RSVP</a></p>
                  </section>
                </div>
                <div class="4u">
                  <section class="last">
                    <i class="icon featured alt2 fa-code"></i>
                    <header>
                      <h2>Code along</h2>
                    </header>
                    <p>Code will be available <a href="http://github.com/haskell-workshop">here</a></p>
                  </section>
                </div>
              </div>
              <footer>
                <ul class="actions">
                  <li><a href="/2013/10/24/tutorials.html" class="button big">Get Started</a></li>
                  <!-- <li><a href="#" class="button alt big">Learn More</a></li> -->
                </ul>
              </footer>
            </section>

        </div>
      </div>